@import './styles/theme.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-app text-primary transition-colors duration-300 font-inter;
  }
}

.animate-fade-in {
  animation: fadeIn 0.3s ease-out forwards;
}

.animate-slide-up {
  opacity: 0;
  animation: slideUp 0.4s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(10px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}